.loginPage,
.hideLoginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 450px;
  width: 60%;
  min-width: 400px;
  min-height: 450px;
  max-height: 450px;
  max-width: 600px;
  background: #cca156;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
  z-index: 10;
}
.loginPage h1,
.hideLoginPage h1 {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 2rem;
}
.hideLoginPage {
  transform: translateX(300%);
}

.loginPage form,
.hideLoginPage form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 90%;
  user-select: none;
}

.formLink {
  font-family: monospace;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.formInputTextDiv {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.formInputTextDiv label {
  font-family: monospace;
  width: 80px;
  font-weight: bold;
  font-size: 1.2rem;
}
.formInputTextDiv input {
  width: 95%;
  height: 40px;
  font-size: 1rem;
  font-family: monospace;
  border: none;
  outline: none;
  background: none;
  margin-left: 15px;
}
.formInputTextDiv .labelInputDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
}
.formInputTextDiv .inputField {
  border-radius: 10px;
  background-color: transparent;
  box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.15),
    inset 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.formInputTextDiv input:hover {
  border-radius: 10px;
}

.formInputTextDiv input:focus {
  border-radius: 10px;
}

.loginSubmitButton {
  width: 200px;
  height: 50px;
}
