.profileButton {
  grid-area: loginButton;
  display: block;
  right: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  background-color: lightcyan;
  border: 3px solid lightskyblue;
  filter: grayscale(1) drop-shadow(1px 1px 3px gray);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: darkmagenta;
  transition: 0.5s ease-in-out;
}

.profileButton:hover {
  filter: grayscale(1);
}

.profileButton:active {
  filter: grayscale(0.8);
}

.profileButton:focus {
  outline: none;
}
