.pizza {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  grid-column: 2/3;
  grid-row: 1/2;
  transform: rotate(45deg);
  animation-name: spin;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 0;
  animation-duration: 3s;
}

.slices {
  display: flex;
  width: 200px;
  height: 200px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1360px) {
  .pizza {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
