.pizza {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.slices {
  display: flex;
  width: 200px;
  height: 200px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1360px) {
  .pizza {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
