.mozzarella {
  width: 50%;
  height: 50%;
  background-color: var(--mozzarella-color);
  border-radius: 40%;
  position: absolute;
  top: 20px;
  z-index: 4;
  filter: drop-shadow(1px 1px 1px #000);
}
