.pizza {
  position: relative;
  top: 15vh;
  transform: rotate(225deg);
  width: 200px;
  height: 200px;
  animation-name: spin;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 0;
  animation-duration: 3s;
}

.slices {
  display: flex;
  width: 200px;
  height: 200px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1360px) {
  .pizza {
    top: 0;
    width: 200px;
    height: 200px;
  }
}
