.orderButton {
  width: 160px;
  height: 80px;
  font-size: 1.5rem;
  border-radius: 10px;
  color: white;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.05),
    15px 15px 15px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(1px 1px 5px #000);
}

.orderButton:hover {
  background: none;
  color: var(--slice-color);
  box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.05),
    10px 10px 10px rgba(0, 0, 0, 0.25);
}

.orderButton:active {
  background: none;
  box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.05),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}
