.baseRoot {
  position: relative;
  width: 500px;
  height: 300px;
  max-width: 500px;
  max-height: 300px;
  display: grid;
  grid-template-areas: 'crust pizzaSizeContainer base baseDiv';
  grid-template-columns: 1fr;
  grid-template-rows: 50px 100px 50px 1fr;
  color: white;
  border-radius: 20px;
  user-select: none;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.05),
    15px 15px 15px rgba(0, 0, 0, 0.25);
}

.baseDiv {
  grid-area: baseDiv;
  grid-column: 1/1;
  grid-row: 4/5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.baseRoot h2 {
  grid-area: crust;
  grid-column: 1/1;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.baseRoot h3 {
  grid-area: crust;
  grid-column: 1/1;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pizzaSizeContainer {
  grid-area: pizzaSizeContainer;
  grid-column: 1/1;
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.sizeSlider {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 50px;
  border-radius: 25px;
  box-shadow: inset 10px 10px 15px rgba(255, 255, 255, 0.05),
    inset -10px -10px 15px rgba(0, 0, 0, 0.25);
}

.sizeSlider input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  outline: none;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  text-transform: capitalize;
  border-radius: 25px;
  transition: all 100ms linear;
}

.sizeSlider input:checked {
  background-image: linear-gradient(
    180deg,
    var(--slice-color),
    var(--sauce-color)
  );
}
.sizeSlider input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
  width: 100%;
}

.sizeSlider input:hover {
  color: orange;
}
.base {
  width: 25%;
  height: 75%;
  display: flex;
  border-radius: 10px;
  justify-content: space-evenly;
  font-weight: bold;
  text-transform: capitalize;
  align-items: center;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.05),
    10px 10px 15px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.base label {
  width: 100%;
  height: 100%;
}

.base label span {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.base label input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  outline: none;
}

.base label input:checked + span {
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(255, 255, 255, 0.05),
    -10px -10px 15px rgba(0, 0, 0, 0.25),
    inset -15px -15px 15px rgba(255, 255, 255, 0.05),
    inset 15px 15px 15px rgba(0, 0, 0, 0.25);
}
.base label input[name='sauce']:checked + span {
  color: var(--sauce-color);
}

.base label input[name='mozzarella']:checked + span {
  color: var(--mozzarella-color);
}

.base label input[name='cheese']:checked + span {
  color: var(--cheese-color);
}

.base label input[name='sauce']:hover + span {
  color: var(--sauce-color);
}

.base label input[name='mozzarella']:hover + span {
  color: var(--mozzarella-color);
}

.base label input[name='cheese']:hover + span {
  color: var(--cheese-color);
}
