.signUp,
.hideSignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 450px;
  width: 60%;
  min-width: 400px;
  min-height: 450px;
  max-height: 450px;
  max-width: 600px;
  background: #cca156;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
  z-index: 10;
}

.signUp h1,
.hideSignUp h1 {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 2rem;
}

.hideSignUp {
  transform: translateX(300%);
}

.signUp form,
.hideSignUp form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  width: 90%;
  user-select: none;
}

.signUpSubmitButton {
  width: 200px;
  height: 50px;
}
