button {
  width: 100px;
  height: 50px;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  font-family: monospace;
  border-radius: 30px;
  background: transparent;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover:enabled {
  background: none;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.3),
    3px 3px 5px rgba(0, 0, 0, 0.25);
}

button:active:enabled {
  background: none;
  box-shadow: inset -3px -3px 5px rgba(255, 255, 255, 0.3),
    inset 3px 3px 5px rgba(0, 0, 0, 0.25);
}

button:focus {
  outline: none;
}

button:disabled {
  filter: grayscale(1);
  color: gray;
  cursor: not-allowed;
}
