.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15vh;
  justify-items: center;
  grid-template-areas: 'menu logo loginButton';
  align-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  min-width: fit-content;
  min-height: 10vh;
  height: 100px;
  z-index: 1;
  background: linear-gradient(to right, cyan, blue);
}

.logo {
  position: fixed;
  grid-area: logo;
  top: 25px;
}

.logo a {
  display: flex;
  text-decoration: none;
}
.logo img {
  height: 50px;
  width: 50px;
  filter: drop-shadow(2px 2px 3px black);
  margin-right: 1vw;
}

.logo h1 {
  color: #eda828;
  font-weight: lighter;
  text-shadow: 2px 2px 2px rgb(26, 26, 26), 3px 3px 3px var(--sauce-color);
  font-family: lobster;
  font-size: 2.2rem;
}

.hamburgerMenu {
  display: block;
  position: fixed;
  grid-area: menu;
  top: 25px;
  left: 25px;
}

.avatar {
  display: block;
  position: fixed;
  grid-area: loginButton;
  top: 25px;
  right: 25px;
}

/* @media screen and (max-width: 960px) {
  .header {
    background: black;
    min-height: 10vh;
  }
} */
